extends layout

block content
  h1= title
  br

  div.menu
    form(method='get' action='/cat=Schemes')
      button.menuBtn(type='submit') Schemes
    form(method='get' action='/cat=Party')
      button.menuBtn(type='submit') Party
    form(method='get' action='/cat=Tech')
      button.menuBtn(type='submit') Tech
    form(method='get' action='/cat=Videogames')
      button.menuBtn(type='submit') Videogames
    form(method='get' action='/newThread')
      button.menuBtn.newThread(type='submit') New Thread

  br

  hr
  table.center
    thead
      tr
        th User
        th Title
        th Comments
        th Date
    tbody
      each thread in threads
        -id = '/threadid=' + thread.id + '&page=0'
        tr
          td= thread.name
          td
            a(href=id)= thread.title
          td numComments
          td= thread.date
