extends layout

block content
  h1= title
  br

  div.menu
    form(method='get' action='/cat=Schemes')
      if title == 'Schemes'
        button.menuBtn.currentSub(type='submit') Schemes
      else

        button.menuBtn(type='submit') Schemes
    form(method='get' action='/cat=Party')
      if title == 'Party'
        button.menuBtn.currentSub(type='submit') Party
      else

        button.menuBtn(type='submit') Party
    form(method='get' action='/cat=Tech')
      if title == 'Tech'
        button.menuBtn.currentSub(type='submit') Tech
      else

        button.menuBtn(type='submit') Tech
    form(method='get' action='/cat=Videogames')
      if title == 'Videogames'
        button.menuBtn.currentSub(type='submit') Videogames
      else

        button.menuBtn(type='submit') Videogames
  div.newThreadDiv
    form(method='get' action='/newThread')
      button.menuBtn.newThread(type='submit') New Thread

  br

  .table
    hr
    table
      thead
        tr
          th User
          th Title
          th Comments
          th Date
      tbody
        each thread in threads
          -id = '/threadid=' + thread.id + '&page=0'
          tr
            td= thread.name
            td
              a(href=id)= thread.title
            td numComments
            td= thread.date
