extends layout

block content
  h1= title

  div.newThread
    a(href='/newThread')
      button(type='submit' name='writeThread') New Thread

  each thread in threads
    div
      //- -id = '/threadid=' + JSON.stringify(thread.id)
      -id = '/threadid=' + thread.id
      a(href=id)= thread.name
      p= thread.title
      p= thread.paragraph
