extends layout

block content
  h1= title

  div.newThread
    a(href='/newThread')
      button(type='submit' name='writeThread')

  each  in
    div
      -id = '/threadid=' + thread.ID
      a(href=id) tread.name
