extends layout

block content
  h1= title
  br

  div.newThread
    a(href='/newThread')
      button(type='submit' name='writeThread') New Thread
  br

  table
    thead
      tr
        th User
        th Title
        th Date
    tbody
      each thread in threads
        -id = '/threadid=' + thread.id
        -x = ''
        each letter in thread.date
          if letter != '+'
            -x += letter
          else
            -break
        tr
          td= thread.name
          td
            a(href=id)= thread.title
          td= x
