extends layout

block content
  h1= title
  br

  nav
    a(href='/cat=Schemes') Schemes
    a(href='/cat=Party') Party
    a(href='/cat=Tech') Tech
    a(href='/cat=Videogames') Videgames
    a(href='/newThread') New Thread
  br

  hr
  .indexTable
    table
      thead
        tr
          th User
          th Title
          th Comments
          th Date
      tbody
        each thread in threads
          -id = '/threadid=' + thread.id + '&page=0'
          tr
            td= thread.name
            td
              a(href=id)= thread.title
            td numComments
            td= thread.date
