extends layout

block content
  h1= title

  div.newThread
    a(href='/newThread')
      button(type='submit' name='writeThread') New Thread

  each thread in threads
    div
      //- -id = '/threadid=' + JSON.stringify(thread.id)
      -id = '/threadid=' + thread.id
      -x = ''
      each letter in thread.date
        if letter != '+'
          -x+= letter
        else
          -break
      p= thread.name
      a(href=id)= thread.title
      p= thread.date
      hr
