extends layout

block content
  h1= title
  br

  div.menu
    if title == 'Schemes'
      button.currentSub(disabled) Schemes
    else

      form(method='get' action='/cat=Schemes')
      button.menuBtn(type='submit') Schemes
    if title == 'Party'
      button.currentSub(disabled) Party
    else

      form(method='get' action='/cat=Party')
      button.menuBtn(type='submit') Party
    if title == 'Tech'
      button.currentSub(disabled) Tech
    else

      form(method='get' action='/cat=Tech')
      button.menuBtn(type='submit') Tech
    if title == 'Videogames'
      button.currentSub(disabled) Video Games
    else

      form(method='get' action='/cat=Videogames')
      button.menuBtn(type='submit') Video Games

  div.newThreadDiv
    form(method='get' action='/newThread')
      button.menuBtn.newThread(type='submit') New Thread

  br

  hr
  table.center
    thead
      tr
        th User
        th Title
        th Comments
        th Date
    tbody
      each thread in threads
        -id = '/threadid=' + thread.id + '&page=0'
        tr
          td= thread.name
          td
            a(href=id)= thread.title
          td numComments
          td= thread.date
