doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      a(href='/')
        img.header(src='/images/OP.jpg' alt='Beautiful people')
      h1.pageheader Forum

    block content
