doctype html
html(lang='is')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/searchtable.css')
  body
    script(src='jquery.js', type='text/javascript')
    script(src='jquery.dotdotdot.js', type='text/javascript')
    header
      a(href='/')
        h1.pageheader Forum
    main
      block menu
      block content
      block pagenumbers
      block comment
