doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      a(href='')
        img(src='/images/OP.jpg' alt='Beautiful people')
          
    block content
