doctype html
html(lang='is')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='/stylesheets/style0.css')
  body
    header
      a(href='/')
        h1.pageheader Forum
    main
      block content
      block content2
      block content3
