doctype html
html(lang='is')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/searchtable.css')
    link(rel='stylesheet', href='/stylesheets/small.css')
    link(rel='stylesheet', href='/stylesheets/smaller.css')
    link(rel='stylesheet', href='/stylesheets/smallest.css')
    link(rel='stylesheet', href='/stylesheets/big.css')
    link(rel='icon', type='image/png' href='/images/forum-favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=0.5'))
    script(src='/javascript/hover.js')
  body
    header
      a(href='/')
        h1.pageheader Forum
    main
      block menu
      block content
      block pagenumbers
      block comment
