extends layout

block content
  h1 Nýr þráður

  form(method='post' action='/')
    div
      input(type='text' name='name')
    div
      input(type='text' name='title')
    div
      textarea(lang='is' type='text' name='comment' rows='10' cols='30')
    div
      button(type='submit') TJÁNING
