extends layout

block content

block content2
  if page != null
    br
    -n = 0
    nav
      mixin pageIndex
        -id = info + 'page=' + n
        if n == page
          li
            p= n+1
        else

          li
            a(href=(id))= n+1
      while n < Pnum
        +pageIndex
        if n == 0 && page > 3
          -n = page-2
          li
            p &middot &middot &middot
        else if n == page+2 && n < Pnum-2
          -n = Pnum-1
          li
            p &middot &middot &middot
        else

          - n++

    br
block content3
