extends layout

block content

block content2
  if page != null
    br
    -n = 1
    nav
      mixin pageIndex
        -id = info + 'page=' + n
        if n == page
          li
            p= n
        else

          li
            a(href=(id))= n
      while n <= Pnum
        +pageIndex
        if n == 1 && page > 4
          -n = page-2
          li
            p &middot &middot &middot
        else if n == page+2 && n < Pnum-1
          -n = Pnum
          li
            p &middot &middot &middot
        else

          - n++

    br
block content3
