table.searched {
  width: 100%;
}

.searched {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 0;
  text-align: center;
  cursor: pointer;
}

button.searched {
  padding-left: 5px;
  padding-right: 5px;
}

button.searched.name {
  width: 25%;
}

button.searched.date{
  width: 25%;
}

button.searched.title{
  width: 75%;
}

button.searched.para{
  width: 75%;
}

.searched.name{
  padding-top: 3px;
  font-size: 18px;
  height: 20px;
  font-weight: bold;
}

.searched.date{
  font-size: 14px;
  height: 80px;
}

.searched.title{
  padding-top: 3px;
  font-size: 22px;
  font-weight: bold;
  height: 24px;
}

.searched.para{
  text-align: left;
  font-size: 14px;
  height: 78px;
}
