table.searched {
  width: 100%;
  table-layout: fixed;
}

td.searched.eitt {
  width: 25%;
}

.searched {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 0;
  text-align: center;
  cursor: pointer;
  margin: 0;
}

button.searched {
  padding-left: 5px;
  padding-right: 5px;
}

form.searched.name {
  width: 100%;
  padding-top: 9px;
  max-width: 100%;
}

form.searched.date{
  width: 100%;
}

form.searched.title{
  width: 100%;
  padding-top: 9px;
}

form.searched.para{
  width: 100%;
}

button.searched.para{

}

.searched.name{
  padding-top: 3px;
  font-size: 18px;
  height: 24px;
  font-weight: bold;
  max-width: 100%;
  width: 100%;
}

.searched.date{
  font-size: 14px;
  height: 80px;
}

.searched.title{
  padding-top: 3px;
  font-size: 22px;
  font-weight: bold;
  height: 30px;
}

.searched.para{
  text-align: left;
  font-size: 14px;
  height: 78px;
}
