@media screen and (max-width: 675px)  {
  .search {
    position: absolute;
    top: 351px;
    right: 240px;
  }

  label {
    position: absolute;
    top: 351px;
    right: 164px;
  }

  .main {
    padding: 0;
  }
}
