html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding-top: 0;
}

header {
  width: 100%;
  height: 300px;
  margin-bottom: 2em;
  background: transparent url(/images/background.png) no-repeat fixed 65% 150%;
  background-size: cover;
}

main {
  margin: 50px;
}

h1.pageheader {
  margin-top: 0;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 120px 0 0 0;
  display: block;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: black;
}

a:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
        transform: scale(1.3);
}

button {
  padding: 0px;
}

td, tr {
  padding: 15px;
}
