td.search {
  height: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.search.einn {
  width: inherit;
}

td.search.tveir {
  width: inherit;
}

table.search {
  width: 80%;
}
