/* Checkbox Hack */

input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}
label {
  display: inline-block;
  background: url(/images/search2.png) no-repeat;
  padding: 30px;
  margin: 0;
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.image{
  display: inline-block;
}


/* Default State */
.search {
   text-align: center;
   display: inline-block
}

/* Toggled State */
input[type=checkbox]:checked ~ .search{
   display: none;
}
