html, body {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  background-color: rgba(254, 247, 206,1);
}
body {
  height: 100%;
  margin: 0;
  background: -webkit-linear-gradient(rgba(251,238,152,1) 320px, rgba(254, 247, 206,1) 440px);
  background: -o-linear-gradient(rgba(251,238,152,1) 320px, rgba(254, 247, 206,1) 440px);
  background: linear-gradient(rgba(251,238,152,1) 320px, rgba(254, 247, 206,1) 440px);
  background-repeat: no-repeat;
}

header {
  width: 100%;
  height: 300px;
  background: transparent url(/images/background.png) fixed 65% 150%;
  background-repeat: repeat-x;
  background-size: cover;
}

main {
  padding: 50px;
  min-height: 100%;
}

h1.pageheader {
  margin-top: 0;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 120px 0 0 0;
  display: block;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: black;
}

a:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.newThread {
  float: right;
  padding-right: 30%;
}

button {
  padding: 0px;
}

table {
  float: center;
}

td, tr {
  padding: 15px;
}
