html, body {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  background-color: rgba(254, 247, 206,1);
}
body {
  height: 100%;
  margin: 0;
  background: -webkit-linear-gradient(rgba(251,238,152,1) 320px, rgba(254, 247, 206,1) 440px);
  background: -o-linear-gradient(rgba(251,238,152,1) 320px, rgba(254, 247, 206,1) 440px);
  background: linear-gradient(rgba(251,238,152,1) 320px, rgba(254, 247, 206,1) 440px);
  background-repeat: no-repeat;
}

header {
  width: 100%;
  height: 300px;
  background: transparent url(/images/background.png) fixed 65% 150%;
  background-repeat: repeat-x;
  background-size: cover;
}

h1.pageheader {
  margin-top: 0;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 120px 0 0 0;
  display: block;
  font-weight: bold;
}

main {
  padding: 0 50px;
}

.menu {
  background: rgb(250,180,135); /* Old browsers */
  background: -webkit-linear-gradient(left, rgba(250,180,135,0) 0%, rgba(250,180,135,1) 2.5em, rgba(250,180,135,1) 80%, rgba(244,139,194,1) 85%, rgba(244,139,194,0) 100%);
  background: -o-linear-gradient(left, rgba(250,180,135,0) 0%, rgba(250,180,135,1) 2.5em, rgba(250,180,135,1) 80%, rgba(244,139,194,1) 85%, rgba(244,139,194,0) 100%);
  background: linear-gradient(to right, rgba(250,180,135,0) 0%, rgba(250,180,135,1) 2.5em, rgba(250,180,135,1) 80%, rgba(244,139,194,1) 85%, rgba(244,139,194,0) 100%);
  height: 81px;
}

.nav {
  display: flex;
  float:left;
}

.menuBtn {
  background: rgb(250, 180, 135);
  text-shadow: 1px 1px 3px #000000;
  font-family: Georgia;
  color: #ffffff;
  font-size: 23px;
  width: 5em;
  height: 3.5em;
  text-decoration: none;
  border: none;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background-color, border-radius;
  transition-property: background-color, border-radius;
}

.menuBtn:hover {
  background: rgb(71, 198, 237);
  text-decoration: none;
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
}

a{
  text-decoration: none;
  color: black;
}

.currentSub {
  background: rgb(105, 199, 165);
}

.currentSub:hover {
  background: rgb(40, 199, 141);
}

.newThreadDiv {
  position: absolute;
  right: 50px;
  top: 300px;
  display: flex;
}


.newThread {
  background: rgb(244, 139, 194);
  -webkit-transition-property: border-radius;
  transition-property: border-radius;
}

.newThreadDiv:hover + .menu {
  background: rgb(250,180,135); /* Old browsers */
  background: -webkit-linear-gradient(left, rgba(250,180,135,1) 0%, rgba(250,180,135,1) 80%, rgb(71, 198, 237) 85%);
  background: -o-linear-gradient(left, rgba(250,180,135,1) 0%, rgba(250,180,135,1) 80%, rgb(71, 198, 237) 85%);
  background: linear-gradient(to right, rgba(250,180,135,1) 0%, rgba(250,180,135,1) 80%, rgb(71, 198, 237) 85%);
}

button {
  padding: 0px;
}

.table {
  clear: both;
}

td, tr {
  padding: 15px;
}

ul {
  /*list-style-type: none;
  display: inline;*/
}

li {
  list-style-type: none;
  display: inline;
  padding: 0;
  margin: 0;
}

li a {
  margin: 0;
  padding: 3px;
  background: rgb(117, 201, 165);
}

li p {
  margin: 0;
  padding: 3px;
  background: rgb(75, 128, 105);
  display: inline;
}

.select {
  display: inline;
}

button, textarea, input {
  outline: none;
}
