input[type=checkbox] {
  position: absolute;
  left: -9999px;
}

label {
  background: url(/images/search.png) no-repeat;
  display: inline-block;
  cursor: pointer;
  height: 81px;
  width: 60px;
  margin: 0;
}

.inline {
  display: inline-block;
  height: 81px;
}

.image{
  display: inline-block;
  float: right;
  height: 81px;
  vertical-align: middle;
}

.search {
  text-align: center;
  display: inline-block;
  height: 81px;
  vertical-align: middle;
  float: left;
}

input[type=checkbox]:not(:checked) ~ .search{
  display: none;
}
